*.log
*_config.png
nosetest*
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
*~
*#*#
.#*
*.db-journal
.ropeproject
*_flymake.py
tests/data/actual*
docs/build
test_drop.db
tests/data/actual_homo*.png
tests/data/qa_homo*.png
import-graph.png
ext-graph.png
int-graph.png
*.DS_Store
eqcatalogue.db
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pycharm
.idea
