*.log
*.pyc
*.idea
*_config.png
nosetest*
.coverage
*~
*#*#
.#*
*.db-journal
.ropeproject
*_flymake.py
tests/data/actual*
docs/build
test_drop.db
tests/data/actual_homo*.png
tests/data/qa_homo*.png
import-graph.png
ext-graph.png
int-graph.png
*.DS_Store
eqcatalogue.db
